# NOTE FOR DEVELOPERS, THIS FILE SHOULD BE PLACED UNDER USER DIRECTORY IF YOU USE NVM TO MANAGE NODE VERSIONS.
# IF USING OTHER METHODS TO LOAD NODE VERSIONS PLEASE FOLLOW HUSKY DOCUMENTATION TO LOAD NODE PACKAGE MANAGER.
# ~/.huskyrc
# This loads nvm.sh and sets the correct PATH before running hook
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
